# Chaves e Segredos (Caso você use arquivos .env no futuro)
.env
__pycache__/

# Dados Locais (O seu histórico de preços)
historico_de_precos.csv
buscador.ipynb

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Ambientes Virtuais
venv/
.venv/